<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2016 Álvaro Orduna León
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ordunaleon.publicappshub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".PublicAppsHubApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AppDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.AddAppActivity"
            android:label="@string/add_app_activity_title"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.ordunaleon.publicappshub.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ScreenshotActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.AppDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.ordunaleon.publicappshub.activities.AppDetailActivity" />
        </activity>

        <activity
            android:name=".activities.CodeDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.AppDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.ordunaleon.publicappshub.activities.AppDetailActivity" />
        </activity>

        <activity
            android:name=".activities.AddCodeActivity"
            android:label="@string/add_code_title"
            android:parentActivityName=".activities.AppDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.ordunaleon.publicappshub.activities.AppDetailActivity" />
        </activity>

        <activity
            android:name=".activities.AddServiceActivity"
            android:label="@string/add_service_title"
            android:parentActivityName=".activities.AppDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.ordunaleon.publicappshub.activities.AppDetailActivity" />
        </activity>

    </application>

</manifest>